<div class="container">
  <div class="row">
    <div class="col-md-12 mt-md-5">
      <h2>
        <mark class="bg-secondary text-light">
          <i class="fas fa-child mr-md-3"></i>部位一覧・追加
        </mark>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-md-5 offset-md-2">
      <%= render 'form', body_part: @body_part %>
      <table class="table text-light col-md-8">
        <thead class="list-header">
          <tr>
            <th width="10%"></th>
            <th width="60%">部位名</th>
            <th width="30%"></th>
          </tr>
        </thead>
        <tbody>
          <% @body_parts.each do |body_part| %>
            <tr>
              <td></td>
              <td>
                <%= body_part.name %>
              </td>
              <td>
                <%= link_to "編集する", edit_admin_body_part_path(body_part), class:"btn btn-success" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
