<div class="container mt-5 text-center">
  <div class="row">
    <div class="col-md-12 col-12 mx-auto home-image">
      <div id="home-container">
        <div class="animate-title inview">
            <span class="char">G</span>
            <span class="char">Y</span>
            <span class="char">M</span>
            <span class="char">I</span>
            <span class="char">N</span>
            <span class="char">E</span>
        </div>
        <div class="login-btn">
          <% unless user_signed_in? || admin_signed_in? %>
            <%= link_to "新規登録", new_user_registration_path, class: "col-md-2 btn btn-success" %>
            <%= link_to "ログイン", new_user_session_path, class: "col-md-2 btn btn-primary ml-md-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
