@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #9966CC;
}

header {
  background-color: black;
  color: white;
}

.header-btn {
    color: white;
    transition: all 0.3s;
    border: 1px solid white;
    margin-left: 30px;
    width: 100px;

    &.slide-bg {
        position: relative;
        overflow: hidden;
        z-index: 1;


        &::before {
           content: '';
           display: inline-block;
           width: 100%;
           height: 100%;
           background-color: white;
           position: absolute;
           top: 0;
           left: 0;
           transform: translateX(-100%);
           transition: transform 0.3s;
           z-index: -1;
        }

        &:hover {
            color: black;

            &::before {
                transform: none;
            }
        }
    }
}


#notice {
  text-align: center;
  background-color: #660099;
  color: white;
}

.link {
  text-decoration: none;
  color: #BDB76B ; 
}

.home-image {
  background-image: url("../images/gymine_home.jpg");
  background-size: cover;
  margin: 0 auto;
  height: 550px;
}

#home-container {
  position: relative;
  height: 500px;
}

.animate-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  font-size: 2em;

  &.inview {
    opacity: 1;

    & .char {
      display: inline-block;

      @include animation(
        $name: kf-animate-chars,
        $duration: 0.5s,
        $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
        $fill-mode: both
      );

      @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.2s;
          }
      }
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-btn {
  position: absolute;
  top: 60%;
  width: 100%;
}

#map {
  width: 1150px;
  height: 500px;
}

#map_new {
  width: 1150px;
  height: 500px;
}

#map_edit {
  width: 1150px;
  height: 500px;
}

html {
  scroll-behavior: smooth;
}

.page-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    color: black;
}

.page-top a {
  display: flex;
}

.page-top a::before{
  content: "";
  width: 20px;
  height: 20px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(-45deg);
  margin: 15px;
}

.page-top:hover {
    background: gray;
}

.post-name {
  font-size: 30px;
}

.post-item {
  background-color: #262626;
  padding: 10px;
  margin-top: 3px;
  color: white;
}

.post-form-item {
  background-color: #404040;
  padding: 10px;
  margin-top: 3px;
  color: white;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
  color: black;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  background-color: #AAAAAA;
}

.tab:first-child {
  border-left: none;
}

.tab-active {
  color: black;
  background-color: #BDB76B;
}

.tab-mouseover {
  background-color: #666633;
  transition: background-color 0.5s;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.tab-container {
  background-color: black;
  color: white;
}

.post-info-item {
  display: inline-block;
  width: 100px;
}

.post-info-address {
  margin-left: 100px;
}

.post-info-box {
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.list-header {
  background-color: #888888;
}

.table td {
  vertical-align: middle;
}