@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #9966CC;
}

header {
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

#map {
  width: 1150px;
  height: 500px;
}

#map_new {
  width: 1150px;
  height: 500px;
}

#map_edit {
  width: 1150px;
  height: 500px;
}

.page-top {
  position: fixed;
  right: 5px;
  bottom: 20px;
  height: 50px;
  text-decoration: none;
  font-weight: bold;
  transform: rotate(90deg);
  font-size: 90%;
  line-height: 1.5rem;
  color: white;
  padding: 0 0 0 35px;
  border-top: solid 1px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10000;
}
.page-top::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0px;
  width: 15px;
  border-top: solid 1px;
  transform: rotate(35deg);
  transform-origin: left top;
}

.page-top:hover {
  color: #BDB76B;
}

.post-name {
  font-size: 30px;
}

.post-item {
  background-color: #262626;
  padding: 10px;
  margin-top: 3px;
  color: white;
}

.post-form-item {
  background-color: #404040;
  padding: 10px;
  margin-top: 3px;
  color: white;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
  color: black;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  background-color: #AAAAAA;
}

.tab:first-child {
  border-left: none;
}

.tab-active {
  color: black;
  background-color: #BDB76B;
}

.tab-mouseover {
  background-color: #666633;
  transition: background-color 0.5s;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.tab-container {
  background-color: black;
  color: white;
}

.post-info-item {
  display: inline-block;
  width: 100px;
}

.post-info-address {
  margin-left: 100px;
}

.post-info-box {
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.list-header {
  background-color: #888888;
}

.table td {
  vertical-align: middle;
}